:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Roboto", sans-serif; 

    --accent-color: #FA4A0C;
    --main-background-color: white;
    --main-text-color: black;

    --secondary-text-color: #737373;

    --third-text-color: #F6F6F6;

    --main-nav-color: #252B42;
    --main-how-color: #252B42;
    --main-how-desc-color: #737373;
    --main-footer-color: #5C5C5C;

    --light-color: white;
    --dark-color: black;

    --main-text-hover-color: #C23C0C;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* --- Секція Header --- */

.header > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 41px;
}

.header__logo {
    width: 150px;
    height: auto;
}

.nav__list {
    display: flex;
    gap: 94px;
}

.nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--dark-color);
}

.nav__link.current,
.nav__link:hover {
    color: var(--accent-color);
    transition: color 0.3s;
}

/* === Hero Section === */

.hero {
    width: 100%;
    height: 720px;
    padding-top: 80px;
    padding-bottom: 162px;
    background-image: url(../img/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: var(--third-text-color);

    padding-bottom: 10px;
}

.hero__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0em;
    text-align: center;
    color: var(--light-color);

    padding-bottom: 5px;
}

.hero__desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--third-text-color);
}

.hero__order {
    display: flex;
    justify-content: center;
    padding-top: 54px;
    gap: 67px;
}

.btn__delivery {
    width: 236px;
    height: 68px;
    background-color: var(--accent-color);
    border-radius: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0em;
    color: var(--light-color);
}

.btn__delivery:hover {
    background-color: var(--main-text-hover-color);
    transition: background-color 0.3s;
}

.btn__menu {
    width: 236px;
    height: 68px;
    border: var(--light-color) 1px solid;
    border-radius: 30px;

    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0em;
    color: var(--light-color);
}

.btn__menu:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: background-color 0.3s;
}

/* === How It Works Section === */

.how {
    padding-top: 56px;
    padding-bottom: 180px;
}

.how__title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 44px;
    line-height: 82%;
    letter-spacing: 0em;
    color: var(--main-text-color);
    text-align: center;
}

.how__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 70px 80px 0 80px;
}

.how__step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1205px;
}

.how__step:nth-child(even) {
    flex-direction: row-reverse;
}

.how__img {
    width: 250px;
    height: auto;
}

.how__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 390px;
    height: 280px;
}

.how__step-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--accent-color);
    text-transform: uppercase;
    padding-bottom: 18px;
}

.how__step-heading {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: var(--main-nav-color);
    padding-bottom: 18px;
}

.how__desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--main-how-desc-color);

    width: 340px;
    height: 76px;
}



/* === Order Section === */

.order {
    background-image: url(../img/order-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    padding-top: 154px;
    padding-bottom: 126px;
    text-align: center;
}

.order__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--light-color);

    padding-bottom: 20px;
}

.order__desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--light-color);

    padding-bottom: 110px;
}

.order__stores {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn--playstore {
    border-radius: 10px;
    padding: 18px 31px;
    width: auto;
    height: 64px;
    background: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: var(--light-color);
}

.btn--playstore:hover {
    background-color: var(--main-text-hover-color);
    transition: background-color 0.3s;
}

.btn--appstore {
    border: 1px solid var(--light-color);
    border-radius: 10px;
    padding: 16px 45px;
    width: auto;
    height: 60px;

    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: var(--light-color);
}

.btn--appstore:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: background-color 0.3s;
}


/* === Footer === */

.footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
    padding-bottom: 60px;
}

.footer__logo {
    width: 150px;
    height: auto;
}

.footer__copyright {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: right;
    color: var(--main-footer-color);
}